<div class="container">
  <form action='/sessions' method= 'post'>
    <h2>Log in</h2>
    <%= erb :'_errors' %>
    <label for="username">Email</label>
    <input type="text" name ="user[email]" placeholder="email">
    <label for="username">Password</label>
    <input type="text" name ="user[password]" placeholder="password">
    <input type="submit" value ="Submit">
  </form>
</div>
