<div>
  <form action='/sessions' method= 'post'>
    <h2>Sign in</h2>
    <label for="email">Email</label>
    <input type="text" name ="email" placeholder="email">
    <label for="password">Password</label>
    <input type="text" name ="password" placeholder="password">
    <input type="submit" value ="submit">
  </form>
</div>
