
.container {
  margin-left: 10px;
}

.hidden {
  display:none;
}
.question{
  padding-bottom: 50px;
  font-size: 1.5em;
}
.comments, .comments2{
  /*margin-left:30px;*/
  padding-bottom: 15px;
  font-size: .8em;
}

.username {
  font-style: italic;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-left: 40px;
  /*padding-left: 20px;*/
}

.comment{

  font-size: 1.2em;
  font-family: "Times New Roman", serif;
  padding-top: 20px;

  padding-left: 50px;
  padding-right: 20px;}

.comment_container{
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;*/
  /*border: 1px solid gray;*/
  width:50%;
}
.submitbutt1, .submitbutt2{

  width:20px;
  height:20px;
}

.submitbutt1 {
  background-color: green;

}

.submitbutt2 {
  background-color: red;
}

.points{
  /*font-size: 2em;*/
  /*float: left;*/
  /*position: relative;*/
    /*float:left;
    position: relative;*/
    display: inline-block;
    position: absolute;
    left:0;

}
.answers{

display:block;
padding-bottom: 25px;
padding-top: 25px;

}

.hidden {
  display:none;
}

.no_outline {
  border: none;
  background-color: white;
  color: #3359FF;
  outline: none !important;
}
