
.container {
  margin-left: 10px;
}

.hidden {
  display:none;
}

.comments, .comments2{
  margin-left:30px;
  padding-bottom: 15px;
  color:coral;
}

.username {
  font-style: italic;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-left: 40px;
  /*padding-left: 20px;*/
}

.comment{
  font-size: 1.2em;
  font-family: "Times New Roman", serif;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 20px;}

.comment_container{
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;*/
  border: 1px solid black;
  width:50%;
}
.submitbutt{

  width:20px;
  height:20px;
}

.points{
  /*font-size: 2em;*/
  float: left;

}

.upvote-button{
  /*width: 0;
  height: 0;
	border-left: 7px solid white;
	border-right: 7px solid white;
  border-bottom: 14px solid green;*/

}

.downvote-button{
  /*width: 0;
  height: 0;
  border-left: 7px solid white;
  border-right: 7px solid white;
  border-top: 14px solid red;*/
}
.hidden {
  display:none;
}
