<div class="containes">
  <form action='/users' method= 'post'>
    <h2>Sign up</h2>
    <%= erb :'_errors' %>
    <label for="username">Username</label>
    <input type="text" name ="user[username]" placeholder="username">
    <label for="email">Email</label>
    <input type="text" name ="user[email]" placeholder="email">
    <label for="password">Password</label>
    <input type="text" name ="user[password]" placeholder="password">
    <label for="password_confirmation">Password confirmation</label>
    <input type="text" name ="password_confirmation" placeholder="password confirmation">
    <input type="submit" value ="Submit">
  </form>
</div>
