<div class='points'>

  <form class='vote upvote' method = 'post' action='/'>
    <input type='text' class='hidden' name='questions' value='<%=question.id%>'>
      <% if answer %>
    <input type='text' class='hidden' name='answers' value='<%=answer.id%>'>
      <%end %>
      <% if comment %>
    <input type='text' class='hidden' name='comments' value='<%=comment.id%>'>
      <%end %>
    <input type='submit' value="U">
  </form>



</div>
