<div class='points'>
 <button type="submit" name="submit_param" value="submit_value" class="glyphicon glyphicon-arrow-up vote-button upvote-button"></button>
 <%=points %>
 <button type="submit" name="submit_param" value="submit_value" class="glyphicon glyphicon-arrow-down vote-button downvote-button"></button>
</div>
